/* 行動版面:320px */
@media only screen
  and (max-width: 320px)
{

header{
	box-shadow: 0px 2px 3px #DDD;
	height: 62px;
	background-color: #FFFFFF;
	padding: 0px;
}

.input-append {
	float: left;
	width: 210px;
}

#message_bar {
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-color: rgb(76,85,102);
	color: rgb(191,191,191);
	text-align: left;
	padding-top: 10px;
	padding-left: 15px;
	height: 30px; 
	font-size: 13px;
	width: 100%;
	margin-top: 0px;
}

#search_div {
	border-color: #DFDFDF;
	width: 200px;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 16px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 16px;
	left: 251px;
}


#logo {
	width:70px;
	height:62px;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#options_bar {
	border-bottom-width: 0.2em;*/
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 0.2em; 
	padding: 0;
}

.over_mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 280px;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: auto;
}

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:89%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:280px;
	height:420px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
}

div.thumb img {
	width:280px;
	height:420px;
}

}

/* for iphone*/
@media all and (-webkit-min-device-pixel-ratio:0){
#photo_wall {
	width:87%;
}
}

/* for Safari 325px*/ 
@media only screen
  and (min-width: 321px)
  and (max-width: 325px)
{
header{
	box-shadow: 0px 2px 3px #DDD;
	height: 62px;
	background-color: #FFFFFF;
	padding: 0px;
}

.input-append {
	float: left;
	width: 230px;
}

#message_bar {
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-color: rgb(76,85,102);
	color: rgb(191,191,191);
	text-align: left;
	padding-top: 10px;
	padding-left: 15px;
	height: 30px; 
	font-size: 13px;
	width: 100%;
	margin-top: 0px;
}

#search_div {
	border-color: #DFDFDF;
	width: 230px;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 16px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 16px;
	left: 280px;
}


#logo {
	width:70px;
	height:62px;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#options_bar {
	border-bottom-width: 0.2em;*/
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 0.2em; 
	padding: 0;
}

.over_mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 280px;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: auto;
}

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:320px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:280px;
	height:420px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
	margin-top: 15px;
	margin-right: 20px;
	margin-bottom: 15px;
	margin-left: 20px;
}

div.thumb > img {
	width:280px;
	height:420px;
}

}

/* 行動版面 BlackBerry+SamsungGalaxyS3:380px */
@media only screen
  and (min-width: 326px)
  and (max-width: 380px)
{
header{
	box-shadow: 0px 2px 3px #DDD;
	height: 62px;
	background-color: #FFFFFF;
	padding: 0px;
}

.input-append {
	float: left;
	width: 280px;
}

#message_bar {
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-color: rgb(76,85,102);
	color: rgb(191,191,191);
	text-align: left;
	padding-top: 10px;
	padding-left: 15px;
	height: 30px; 
	font-size: 13px;
	width: 100%;
	margin-top: 0px;
}

#search_div {
	border-color: #DFDFDF;
	width: 260px;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 16px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 16px;
	left: 310px;
}


#logo {
	width:70px;
	height:62px;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#options_bar {
	border-bottom-width: 0.2em;*/
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 0.2em; 
	padding: 0;
}

.over_mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 320px;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: auto;
}

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  90%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:320px;
	height:480px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
	margin-top: 15px;
	margin-right:auto;
	margin-bottom: 15px;
	margin-left:auto;
}

div.thumb > img {
	width:320px;
	height:480px;
}
}

/* 行動版面 htc+nokia:410px */
@media only screen
  and (min-width: 381px)
  and (max-width: 410px)
{
header{
	box-shadow: 0px 2px 3px #DDD;
	height: 62px;
	background-color: #FFFFFF;
	padding: 0px;
}

.input-append {
	float: left;
	width: 290px;
}

#message_bar {
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-color: rgb(76,85,102);
	color: rgb(191,191,191);
	text-align: left;
	padding-top: 10px;
	padding-left: 15px;
	height: 30px; 
	font-size: 13px;
	width: 100%;
	margin-top: 0px;
}

#search_div {
	border-color: #DFDFDF;
	width: 270px;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 16px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 16px;
	left: 320px;
}


#logo {
	width:70px;
	height:62px;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#options_bar {
	border-bottom-width: 0.2em;*/
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 0.2em; 
	padding: 0;
}

.over_mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 320px;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: auto;
}

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  85%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:320px;
	height:480px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
	margin-top: 15px;
	margin-right:auto;
	margin-bottom: 15px;
	margin-left:auto;
}

div.thumb > img {
	width:320px;
	height:480px;
}

}

/* 行動版面:480px */
@media only screen
  and (min-width: 411px)
  and (max-width: 480px)
{
header{
	box-shadow: 0px 2px 3px #DDD;
	height: 62px;
	background-color: #FFFFFF;
	padding: 0px;
}

.input-append {
	float: left;
	width: 330px;
}

#message_bar {
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-color: rgb(76,85,102);
	color: rgb(191,191,191);
	text-align: left;
	padding-top: 10px;
	padding-left: 15px;
	height: 30px; 
	font-size: 13px;
	width: 100%;
	margin-top: 0px;
}

#search_div {
	border-color: #DFDFDF;
	width: 320px;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 16px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 16px;
	left: 373px;
}


#logo {
	width:70px;
	height:62px;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#options_bar {
	border-bottom-width: 0.2em;*/
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 0.2em; 
	padding: 0;
}

.over_mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 200px;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: auto;
}

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  98%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:200px;
	height:300px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left:10px;
	margin-top: 15px;
	margin-right:10px;
	margin-bottom: 15px;
	margin-left:10px;
}

div.thumb > img {
	width:200px;
	height:300px;
}
}

/* 版面:540px */
@media only screen
  and (min-width: 481px)
  and (max-width: 540px)
{
header{
	box-shadow: 0px 2px 3px #DDD;
	height: 62px;
	background-color: #FFFFFF;
	padding: 0px;
}

.input-append {
	float: left;
	width: 330px;
}

#message_bar {
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-color: rgb(76,85,102);
	color: rgb(191,191,191);
	text-align: left;
	padding-top: 10px;
	padding-left: 15px;
	height: 30px; 
	font-size: 13px;
	width: 100%;
	margin-top: 0px;
}

#search_div {
	border-color: #DFDFDF;
	width: 320px;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 16px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 16px;
	left: 373px;
}


#logo {
	width:70px;
	height:62px;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#options_bar {
	border-bottom-width: 0.2em;*/
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 0.2em; 
	padding: 0;
}

.over_mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: auto;
}


#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  60%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:320px;
	height:480px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left:auto;
	margin-top: 20px;
	margin-right:auto;
	margin-bottom: 15px;
	margin-left:auto;
}

div.thumb  img {
	width:320px;
	height:480px;
}
}

/* 版面:640px */
@media only screen
  and (min-width: 541px)
  and (max-width: 640px)
{
header{
	box-shadow: 0px 2px 3px #DDD;
	height: 62px;
	background-color: #FFFFFF;
	padding: 0px;
}

.input-append {
	float: left;
	width: 330px;
}

#message_bar {
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-color: rgb(76,85,102);
	color: rgb(191,191,191);
	text-align: left;
	padding-top: 10px;
	padding-left: 15px;
	height: 30px; 
	font-size: 13px;
	width: 100%;
	margin-top: 0px;
}

#search_div {
	border-color: #DFDFDF;
	width: 320px;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 16px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 16px;
	left: 373px;
}


#logo {
	width:70px;
	height:62px;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#options_bar {
	border-bottom-width: 0.2em;*/
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 0.2em; 
	padding: 0;
}

.over_mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 280px;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: auto;
}

.over_info {
	display: none;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -100px;
	bottom: 0;
	width:100%;
	text-align: left;
	overflow: hidden;
	color: black;
	cursor: pointer;
	background-image: url(../screenover_200.png);
	background-repeat: no-repeat;
}

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  98%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:280px;
	height:420px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left:10px;
	margin-top: 15px;
	margin-right:10px;
	margin-bottom: 15px;
	margin-left:10px;
}

div.thumb > img {
	width:280px;
	height:420px;
}
}

/* 桌面版面: 641px 到 768px */
@media only screen
 and (min-width: 641px)
 and (max-width: 768px) 
{

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  98%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:320px;
	height:480px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left:20px;
	margin-top: 20px;
	margin-right:20px;
	margin-bottom: 20px;
	margin-left:20px;
}

div.thumb > img {
	width:320px;
	height:480px;
}

}

/* 桌面版面: 769px 到 800px */
@media only screen
 and (min-width: 769px)
 and (max-width: 800px) 
{

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  93.5%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:320px;
	height:480px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left:20px;
	margin-top: 20px;
	margin-right:20px;
	margin-bottom: 20px;
	margin-left:20px;
}

div.thumb > img {
	width:320px;
	height:480px;
}

}

/* 桌面版面: 801px 到 960px */
@media only screen
 and (min-width: 801px)
 and (max-width: 960px) 
{

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  100%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.input-append {
	float: left;
	width: 580px;

}

#search_div {
	border-color: #DFDFDF;
	width: 550px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 16px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 20px;
	left: 615px;
}

.thumb {
	width:280px;
	height:420px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left:15px;
	margin-top: 20px;
	margin-right:15px;
	margin-bottom: 20px;
	margin-left:15px;
}

div.thumb > img {
	width:280px;
	height:420px;
}

}

/* 桌面版面: 961px 到1024px */
@media only screen
 and (min-width: 961px)
 and (max-width: 1024px) 
{
#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  97%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:280px;
	height:420px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left:20px;
	margin-top: 20px;
	margin-right:20px;
	margin-bottom: 20px;
	margin-left:20px;
}

div.thumb > img {
	width:280px;
	height:420px;
}
}

/* 桌面版面: 1025px 到 1280px */
@media only screen
 and (min-width: 1025px)
 and (max-width: 1280px)
{
.input-append {
	float: left;
	width: 580px;
}

#search_div {
	border-color: #DFDFDF;
	width: 550px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 17px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 20px;
	left:610px;
}

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  93%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:250px;
	height:375px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left:20px;
	margin-top: 30px;
	margin-right:20px;
	margin-bottom: 20px;
	margin-left:20px;
}

div.thumb > img {
	width:250px;
	height:375px;
}
}

/* 桌面版面: 1281px 到 1366px */
@media only screen
 and (min-width: 1281px)
 and (max-width: 1366px)
{

.input-append {
	float: left;
	width: 550px;
}

#search_div {
	border-color: #DFDFDF;
	width: 515px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 16px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 19px;
	left: 580px;
}

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  93.5%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:280px;
	height:420px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left:15px;
	margin-top: 20px;
	margin-right:15px;
	margin-bottom: 20px;
	margin-left:15px;
}

div.thumb > img {
	width:280px;
	height:420px;
}
}

/* 桌面版面: 1367px 到 1440px */
@media only screen
 and (min-width: 1367px)
 and (max-width: 1440px)
{

.input-append {
	float: left;
	width: 550px;
}

#search_div {
	border-color: #DFDFDF;
	width: 515px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 16px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 19px;
	left: 580px;
}

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  99.5%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:320px;
	height:480px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left:15px;
	margin-top: 20px;
	margin-right:15px;
	margin-bottom: 20px;
	margin-left:15px;
}

div.thumb > img {
	width:320px;
	height:480px;
}
}

/* 桌面版面: 1441px 到 1680px */
@media only screen
 and (min-width: 1441px)
 and (max-width: 1680px)
{
#search_image{
	cursor: pointer;
	z-index: 999;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 19px;
	left: 580px;
}

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width:  97%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:320px;
	height:480px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left:40px;
	margin-top: 40px;
	margin-right:40px;
	margin-bottom: 40px;
	margin-left:40px;
}

div.thumb > img {
	width:320px;
	height:480px;
}
}