/* 行動版面:320px */
@media only screen
  and (max-width: 320px)
{

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 250px;
	height: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 240px;
	height: 28px;
	color: rgb(95,95,95);
	-webkit-border-radius: 320px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 10px;
	padding-left: 10px;
	float: left;
}

#search_div a{
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:100px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 30px;
	height: 30px;
	display: block;
}

#wrapper{
	display: block;
	clear: none;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
    width: 90%;
}

#logo{
	height: 49px;
	width: 250px;
	overflow: hidden;
	margin-bottom: 10px;
		margin-right: auto;
			margin-left: auto;
}

#containerbox{
    width: 100%;
}

.thumb{
	width:308px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left: 5px;
	margin-top: 20px;
	margin-right: 5px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}

.footer {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
	text-decoration: none;
	text-align: center;
	display: block;
	clear: both;
	width: 95%;
	padding-bottom: 20px;
	padding-top: 10px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#container{
    width: 100%;
}

#search_div a{
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:100px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 30px;
	height: 30px;
	display: block;
}

}

/* for Safari 325px*/ 
@media only screen
  and (min-width: 321px)
  and (max-width: 325px)
{
#containerbox{
	width: 100%;
}

#wrapper{
	display: block;
	clear: none;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
		width: 100%;
}

#logo{
	height: 45px;
	width: 230px;
	overflow: hidden;
	margin-bottom: 10px;
}


.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:2.5px;
	margin-top: 20px;
	margin-right:2.5px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 260px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 250px;
	height: 28px;
	color: rgb(95,95,95);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 10px;
	padding-left: 10px;
	float: left;
}

#search_div a{
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:100px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 30px;
	height: 30px;
	display: block;
}

}

/* 行動版面 BlackBerry+SamsungGalaxyS3:380px */
@media only screen
  and (min-width: 326px)
  and (max-width: 380px)
{
.footer {
	font-size: 13px;
	width: 98%;
}

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 270px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 260px;
	height: 30px;
	color: rgb(95,95,95);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 10px;
	padding-left: 10px;
	float: left;
}

#search_div a{
	width: 36px;
	height: 36px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:100px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 36px;
	height: 36px;
	display: block;
}

#wrapper{
	display: block;
	clear: none;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	width: 90%;
}

#logo{
	height: 49px;
	width: 250px;
	overflow: hidden;
	margin-bottom: 10px;
}

#containerbox{
	width: 99%;
	clear: both;
	margin-right: auto;
	margin-left:  auto;
}

.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:17px;
	margin-top: 20px;
	margin-right:17px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}
}


/* 行動版面 htc+nokia:410px */
@media only screen
  and (min-width: 381px)
  and (max-width: 410px)
{

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 310px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 290px;
	height: 30px;
	color: rgb(95,95,95);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 15px;
	padding-left: 15px;
	float: left;
}

#search_div a{
	width: 36px;
	height: 36px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:115px;
	left: 50%;
	margin-top: 2px;
}

#search_div a img{
	width: 36px;
	height: 36px;
	display: block;
}


#wrapper{
	display: block;
	clear: none;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	width: 100%;
}

#logo{
	height: 49px;
	width: 250px;
	overflow: hidden;
	margin-bottom: 10px;
}

#containerbox{
	width:93%;
	clear: both;
	margin-right: auto;
	margin-left:  auto;
}

.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:20px;
	margin-top: 20px;
	margin-right:20px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}
}

/* 行動版面:480px */
@media only screen
  and (min-width: 411px)
  and (max-width: 480px)
{

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 360px;
	height: 35px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 350px;
	height: 35px;
	color: rgb(95,95,95);
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 15px;
	padding-left: 15px;
	float: left;
}

#search_div a{
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:145px;
	left: 50%;
	margin-top: 2px;
}

#search_div a img{
	width: 42px;
	height: 42px;
	display: block;
}


#wrapper{
	display: block;
	clear: none;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	width: 90%;
}

#logo{
	height: 49px;
	width: 250px;
	overflow: hidden;
	margin-bottom: 20px;
}

#containerbox{
	width:78%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
	
.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:20px;
	margin-top: 20px;
	margin-right:20px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}
}


/* 行動版面:540px */
@media only screen
  and (min-width: 481px)
  and (max-width: 540px)
{
#containerbox{
width: 65%;
}

#wrapper{
	display: block;
	clear: none;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
		width: 100%;
}

#logo{
	height: 45px;
	width: 230px;
	overflow: hidden;
	margin-bottom: 10px;
}


.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:10px;
	margin-top: 20px;
	margin-right:10px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 400px;
	height: 35px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 390px;
	height: 35px;
	color: rgb(95,95,95);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 15px;
	padding-left: 15px;
	float: left;
}

#search_div a{
	width: 38px;
	height: 38px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:170px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 38px;
	height: 38px;
	display: block;
}


}


/* 桌面版面: 541px 到 640px */
@media only screen
 and (min-width: 541px)
 and (max-width: 640px)
 {
 #wrapper{
	display: block;
	clear: none;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	width: 100%;
}

 #logo{
	height: 72px;
	width: 368px;
	overflow: hidden;
	margin-right: auto;
		margin-bottom: 20px;
}

#containerbox{
	width:59%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 460px;
	height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 450px;
	height: 36px;
	color: rgb(95,95,95);
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 15px;
	padding-left: 15px;
	float: left;
}

#search_div a{
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:195px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 42px;
	height: 42px;
	display: block;
}


.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:20px;
	margin-top: 20px;
	margin-right:20px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}

}

/* 桌面版面: 641px 到 768px */
@media only screen
 and (min-width: 641px)
 and (max-width: 768px)
 {
  #wrapper{
	display: block;
	clear: none;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	width: 100%;
}

 #logo{
	height: 72px;
	width: 368px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}
 
#containerbox{
	width:95%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 620px;
	height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 550px;
	height: 36px;
	color: rgb(95,95,95);
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 15px;
	padding-left: 15px;
	float: left;
}

#search_div a{
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:215px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 42px;
	height: 42px;
	display: block;
}

.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:15px;
	margin-top: 20px;
	margin-right:15px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}
}

/* 桌面版面: 769px 到 800px */
@media only screen
 and (min-width: 769px)
 and (max-width: 800px) {
  #wrapper{
	display: block;
	clear: none;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	width: 100%;
}

 #logo{
	height: 72px;
	width: 368px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
		margin-bottom: 30px;
}

#containerbox{
	width:91%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 620px;
	height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 550px;
	height: 36px;
	color: rgb(95,95,95);
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 15px;
	padding-left: 15px;
	float: left;
}

#search_div a{
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:215px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 42px;
	height: 42px;
	display: block;
}


.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:15px;
	margin-top: 20px;
	margin-right:15px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}
	
}

/* 桌面版面: 801px 到 960px */
@media only screen
 and (min-width: 801px)
 and (max-width: 960px) {
  #wrapper{
	display: block;
	clear: none;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	width: 100%;
}

 #logo{
	height: 72px;
	width: 368px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
		margin-bottom: 30px;
}

#containerbox{
	width:100%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 620px;
	height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 550px;
	height: 36px;
	color: rgb(95,95,95);
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 15px;
	padding-left: 15px;
	float: left;
}

#search_div a{
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:215px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 42px;
	height: 42px;
	display: block;
}


.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:100px;
	margin-top: 20px;
	margin-right:10px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}
	
}


/* 桌面版面: 961px 到 1024px */
@media only screen
 and (min-width: 961px)
 and (max-width: 1024px)
  {
#wrapper{
	display: block;
	clear: none;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	width: 97%;
}

 #logo{
	height: 72px;
	width: 368px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
		margin-bottom: 30px;
}

#containerbox{
	width:75%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 620px;
	height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 550px;
	height: 36px;
	color: rgb(95,95,95);
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 15px;
	padding-left: 15px;
	float: left;
}

#search_div a{
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:215px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 42px;
	height: 42px;
	display: block;
}


.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:20px;
	margin-top: 20px;
	margin-right:20px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}


}

/* 桌面版面: 1025px 到 1280px */
@media only screen
 and (min-width: 1025px)
 and (max-width: 1280px)
{
#wrapper{
	display: block;
	clear: none;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	width: 100%;
}

 #logo{
	height: 72px;
	width: 368px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
		margin-bottom: 30px;
}

#containerbox{
	width:85%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 620px;
	height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 550px;
	height: 36px;
	color: rgb(95,95,95);
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 15px;
	padding-left: 15px;
	float: left;
}

#search_div a{
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:215px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 42px;
	height: 42px;
	display: block;
}


.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:15px;
	margin-top: 20px;
	margin-right:15px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}
}

/* 桌面版面: 1281px 到 1366px */
@media only screen
 and (min-width: 1281px)
 and (max-width: 1366px)
{
#wrapper{
	display: block;
	clear: none;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	width: 100%;
}

 #logo{
	height: 72px;
	width: 368px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
		margin-bottom: 30px;
}

#containerbox{
	width:80%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 620px;
	height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 550px;
	height: 36px;
	color: rgb(95,95,95);
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 15px;
	padding-left: 15px;
	float: left;
}

#search_div a{
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:215px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 42px;
	height: 42px;
	display: block;
}


.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:15px;
	margin-top: 20px;
	margin-right:15px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
   width:290px;
	height:435px;
	}
}

/* 桌面版面: 1367px 到 1440px */
@media only screen
 and (min-width: 1367px)
 and (max-width: 1440px)
{
#wrapper{
	display: block;
	clear: none;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	width: 100%;
}

 #logo{
	height: 72px;
	width: 368px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
		margin-bottom: 30px;
}

#containerbox{
	width:98%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

#search_div {
	border-color: #DFDFDF;
	margin-top: 0px;
	width: 620px;
	height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#search_div input{
	width: 550px;
	height: 36px;
	color: rgb(95,95,95);
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	behavior: url(script/pie.htc);
	zoom: 1;
	text-decoration: none;
	text-indent: 15px;
	padding-left: 15px;
	float: left;
}

#search_div a{
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	z-index: 80;
	margin-left:215px;
	left: 50%;
	margin-top: 3px;
}

#search_div a img{
	width: 42px;
	height: 42px;
	display: block;
}

.thumb {
	width:318px;
	height:558px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 1px 4px #dfdfdf;
	overflow: hidden;
	margin-left:13px;
	margin-top: 20px;
	margin-right:13px;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}

.thumb img{
	height: 435px;
	width: 290px;
	}
}