@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #303540;
	overflow-x: hidden;
}

a{
 outline: none; /* for Firefox */
 hlbr:expression(this.onFocus=this.blur()); /* for IE */
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/*---------------------search--------------------*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(255, 95, 0, 0.8); /* 255, 95, 0 */ /* 82, 168, 236 */
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 95, 0, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 95, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 95, 0, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
div#ap_main {
	padding-right: 0px; 
	padding-left: 0px;
}

header{
	box-shadow: 0px 2px 3px #DDD;
	height: 80px;
	background-color: #FFFFFF;
	padding: 0px;
}

.input-append {
	float: left;
	width: 580px;

}

#search {
	border-color: #DFDFDF;
	width: 520px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(95,95,95);
	border-radius: 30px;
	text-indent: 10px;
	margin-top: 16px;
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 20px;
	left: 580px;
}

#search:focus {
	border-color: rgb(255,95,0);
}

#search_button {
	display: none;
	margin-top: 24px;
	margin-left: -5px; /* fix safari */
	padding: 0;
	width: 100px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: rgb(102,102,102);
	height: 23px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../img/searchbutton.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#search:-moz-placeholder{
  color: rgb(191, 191, 191);
}
#search:-ms-input-placeholder{
  color: rgb(191, 191, 191);
}
#search::-webkit-input-placeholder{
  color: rgb(191, 191, 191);
}
/*---------------------------------------------------------*/
#logo {
	width:90px;
	height:80px;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#options_bar {
	border-bottom-width: 0.2em;*/
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 0.2em; 
	padding: 0;
}

ul#feature_bar {
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-color: #6C7380;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 10px 4px;
}

ul#feature_bar li {
	margin-left: 20px;
}

ul#feature_bar img {
	width:48px;
	height:48px;
	cursor: pointer;
}


[data-notifications] {
	position: relative;
}

[data-notifications]:after {
	display: none;
	content: attr(data-notifications);
	position: absolute;
    background:             radial-gradient( 1px -11px, circle,  #747474 26px );
	background:    -moz-radial-gradient( 1px -11px, circle,  #747474 26px );
	background:     -ms-radial-gradient( 1px -11px, circle,  #747474 26px );
	background:      -o-radial-gradient( 1px -11px, circle,  #747474 26px );
	background: -webkit-radial-gradient( 1px -11px, circle,  #747474 26px );
	background-color:  #747474;
	border-radius: 12px;
	color: white;
	font: 12px/8px Arial, Sans-serif;
    height: 12px;
    padding: 6px 6px 3px 6px;
    text-align: center;
    min-width: 8px;
	right: -10px;
	top: -20px;
}
[data-notifications="0"]:after {
  visibility: hidden;
}

#message_bar {
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-color: rgb(76,85,102);
	color: rgb(191,191,191);
	text-align: left;
	padding-top: 15px;
	padding-left: 24px;
	height: 33px; /* 48 */
	font-size: 14px;
	width: 100%;
	margin-top: 0px;
}


/*---------------------------------------------*/

.over_mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: auto;
}
.over_info {
	display: none;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -160px;
	bottom: 0;
	width: 100%;
	text-align: left;
	overflow: auto;
	color: black;
	cursor: pointer;
	background-image: url(../screenover.png);
	background-repeat: no-repeat;
}
.thumb:hover .over_info {
    display: block;
}
.thumb:hover .over_mask {
    display: block;
}

.app_artwork {
	position: absolute;
	left: 50%;
	top: 50%;
	overflow: auto;
}

#photo_wall:not([id*=""]) {
	background-color: rgb(48, 53, 64);
	overflow: hidden;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width: 96%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.thumb {
	width:320px;
	height:480px;
	position: relative;
	float: left;
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
	overflow: hidden;
    *margin-left: 20px;
	margin-top: 60px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

div.thumb > img {
	width:320px;
	height:480px;
}


/*span.app_info {
	top: 110px;
	position: absolute;

}

span.app_info img {
	border-radius: 18px;
	width: 96px;
	height: 96px;
	position: absolute;
	left: 50%;
	top: 50%;
	overflow: auto;
	margin-left: 108px;
	margin-top: -30px;
}

span.app_info p.trackName {
	position: absolute;
	color: white;
	width: 250px;
	text-align: center;
	margin-top: 87px;
	font-size: 18px;
	overflow: hidden;
	margin-left: 35px;
}

span.app_info p.sellerName {
	position: absolute;
	color: white;
	width: 250px;
	text-align: center;
	margin-top: 107px;
	font-size: 14px;
	color: rgb(127,127,127);
	overflow: hidden;
		margin-left: 35px;
}*/
/*---------------------------------------------*/