<!-- 圖牆 頁面 -->
<% @screenshots.each_with_index do |s, i| %>
           <a href="/uxinfo/<%= s.id %>" target="_blank" class="nyroModal"><div class="thumb"> 
             <img src="<%= s.url %>">
            <span class="over_mask"></span>
            </div></a>
<% end %>

<% unless @screenshots.empty? %>
	<script type="text/javascript" charset="utf-8">
      $(function() {
          $("img.lazy").lazyload({effect : "fadeIn"});
          
			$('.nyroModal').nyroModal({
						callbacks: {
							afterShowCont: function(nm) {
								$('.resizeLink', nm.elts.cont).click(function(e) {
									e.preventDefault();
									nm.sizes.initW = Math.random()*1000+200;
									nm.sizes.initH = Math.random()*1000+200;
									nm.resize();
								});
							}
						}
					});
      });
	</script>
<% end %>
