<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>imterface home</title>

<!--
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <link href="css/bootstrap.css" rel="stylesheet" media="screen">  
  <script src="js/bootstrap.min.js"></script>


<style type="text/css">
<!--
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}


#search {
  border-color: #DFDFDF;
  margin-top: 24px;
  padding: 0px; 
  width: 465px; 
  /* box-shadow: 0px 1px 1px #B5B5B5 inset; */
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(95,95,95);
  
  padding-left: 15px;
  padding-top: 0px;

  height: 42px;
  width: 512px;
  border-radius: 32px;

/*  background-image: url(searchbutton.png);
  background-repeat: no-repeat;
  background-position: right;*/
}

#search_image{
  cursor: pointer;
  z-index: 999;
  width: 42px;
  height: 42px;
  /*background: url(Search_42.png) no-repeat scroll 0 0 transparent;*/
  position: relative;
/*  top: 7px;
  right: 47px;*/
  top: -53px;
right: -240px;
}

#search:focus {
  border-color: rgb(255,95,0);
}

#search:-moz-placeholder{
  color: rgb(191, 191, 191);
}
#search:-ms-input-placeholder{
  color: rgb(191, 191, 191);
}
#search::-webkit-input-placeholder{
  color: rgb(191, 191, 191);
}


.feature
{

  /*border-color: black;*/
  /*border-style: solid;*/
  width: 352px;
  height: 672px;

  /*padding: 16px;*/
  border: 1px solid #DFDFDF;
  border-color: #DFDFDF;
  border-radius: 15px;

  margin-right: 10px;
  cursor: pointer;

  box-shadow: 0px 0px 2px #DDD;
}

.myoffset {
  margin-left: 2.710638%;
  *margin-left: 2.710638%;
}
.showcase_p
{
  margin: 0; margin-top: 16px;margin-left: 16px;
}
.showcase {
  width: 320px;
  height: 480px;
}
.feature_name_p
{
  margin: 0; margin-top: 16px;margin-left: 16px;
}
.feature_name
{
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(95, 95, 95);
  font-weight: bold;
}
.feature_content_p
{
  margin: 0;
}
.feature_content
{
  margin-left: 80px;
  height: 96px;
  width: 256px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(63, 63, 63);
  line-height: 16px;
  /*font-weight: bold;*/
}
.search_now{
  margin: 0;
  margin-left: 80px;
  position: relative;
  bottom: 26px;
  color: rgb(255, 22, 0);
}
.style15 {
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
color: gray;
}
-->
</style>

</head>

<script src="jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  $(function() {
      $("img.lazy").lazyload({effect : "fadeIn"});
  });
      
  $(document).ready(function() {
    $("#search_image").click( function() {
          if( $("#search").val()=="")
      {
        return false;
      }
      else
      {
        $("#search_form").submit();
      }
      });
  });
</script>

<body>
<table width="512" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="160" colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td height="72" colspan="3">
      <div align="center">
        <a href="/">
          <img src="images/logo.png" alt="imterface" width="368" height="72" />
        </a>
      </div>
    </td>
  </tr>
  <tr>
    <td height="48" colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td width="21" height="42">&nbsp;</td>
    <td width="449" height="42" style="text-align: center;">
      <form action="/" method="post" style="margin:0;" name="search_form" id="search_form">
        <input class="span2" id="search" name="search" type="text" placeholder="Coach Marks, Gallery, Maps, Flipboard, LinkedIn…" value="<%= @search %>" >
        <img src="Search_42.png" id="search_image" title="search">
        <button class="btn" style="display: none;" id="search_button" type="submit" >Search</button>
      </form>
    </td>
    <td width="42" height="42"></td>
  </tr>

  <tr>
    <td width="21" height="42">&nbsp;</td>
    <td width="449" height="42" style="text-align: center; color: rgb(255,191,127);">
      Just type any word came on your mind. You can start from patterns, components...etc.
    </td>
    <td width="42" height="42"></td>
  </tr>

  <tr>
    <td height="48" colspan="3">&nbsp;</td>
  </tr>


</table>
<p>&nbsp;</p>




<p align="center"><span class="style15">Copyright © 2013 SayMac All rights reserved.<br>
Any questions or suggestions: <a href="mailto: info@saymac.com" style="color: rgb(255,95,0);">info@saymac.com</a></span></p>
</body>
</html>
