<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<head>
<meta charset="utf-8">
<title>mobile layout</title>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="mobile layout" />
    <meta name="keywords" content="mobile layout" />
    <meta name="robots" content="all" />
    <meta property="og:title" content="mobile layout" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://ec2-184-169-142-206.us-west-1.compute.amazonaws.com:11211/" />
    <meta property="og:site_name" content="mobile layout" />
    <meta property="fb:app_id" content="mobile layout" />
    <meta property="og:description" content="" />
  <meta name="Copyright" content="Copyright © 2013 LV Studio All rights reserved.">
<!--[if lte IE 8]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="shortcut icon" href="img/favicon.ico">
<link href="css/reset.css" rel="stylesheet" media="screen"> 
<link href="css/style.css" rel="stylesheet" media="screen">
<link href="css/mobilstyle.css" rel="stylesheet" media="screen">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/modernizr-transitions.js"></script>
<script src="js/jquery-latest.js"></script>
<script type="text/javascript">
  $(function(){
    $('.thumb img').hover(function(){
      $(this).stop().animate({
        opacity: 0.4
      });
    }, function(){
      $(this).stop().animate({
        opacity: 1
      });
    });
  });

    $(document).ready(function() {
    $("#search_image").click( function() {
          if( $("#search").val()=="")
      {
        return false;
      }
      else
      {
        $("#search_form").submit();
      }
      });
  });
</script>

  <style type="text/css">
  div.thumb_img a {
    cursor: pointer;
  }
  </style>
</head>
<body>
<div id="wrapper">

<form action="/" method="post" style="margin:0;" name="search_form" id="search_form">
<div id="search_div" ><input id="search" name="search" placeholder="ex. Pattern: Splash, About, Maps…" type="text"><a><img src="img/searchbutton.png" title="search"></a></div>
<button class="btn" style="display: none;" id="search_button" type="submit">Search</button>
</form>

</div><!--wrapper end-->

<div id="containerbox">

  <div class="thumb">
  <h1>Compose Screen</h1>
  <div class="thumb_img"><a onclick="$('#search').val('Compose Screen'); $('#search_form').submit();"><img src="http://a1442.phobos.apple.com/us/r1000/081/Purple/v4/b1/a6/06/b1a6063d-39c2-ad0d-10c2-00127e829109/mzl.uoesfwdh.png"></a></div>
  <span>focusing on the multiple lines of text written by screen, like mail article writing.</span>
  </div>

  <div class="thumb">
  <h1>Splash Screen</h1>
  <div class="thumb_img"><a onclick="$('#search').val('Splash Screen'); $('#search_form').submit();"><img src="http://a1030.phobos.apple.com/us/r1000/062/Purple/v4/43/ee/9d/43ee9d78-de18-5316-7e9d-cee060df1e28/mzl.nlprlivz.png"></a></div>
  <span>the application splash screens, for the image screen of the app program.</span>
  </div>

  <div class="thumb">
  <h1>Walkthrough Screen</h1>
  <div class="thumb_img"><a onclick="$('#search').val('Walkthrough Screen'); $('#search_form').submit();"><img src="http://a1280.phobos.apple.com/us/r1000/109/Purple/v4/76/17/18/76171807-7b6d-8680-2e42-3721c493f49d/mzl.smvyuljo.png"></a></div>
  <span>operation teaching, tips before using the application.</span>
  </div>

  <div class="thumb">
  <h1>Feed Screen</h1>
  <div class="thumb_img"><a onclick="$('#search').val('Feed Screen'); $('#search_form').submit();"><img src="http://a1598.phobos.apple.com/us/r1000/103/Purple/v4/7d/b3/b4/7db3b430-7592-e374-bf74-1b44307954f5/mzl.wdxllmha.png"></a></div>
  <span>supply with the same nature articles from specific source information screen.</span>
  </div>

  <div class="thumb">
  <h1>Map Screen</h1>
  <div class="thumb_img"><a onclick="$('#search').val('Map'); $('#search_form').submit();"><img src="http://a384.phobos.apple.com/us/r1000/118/Purple/v4/d2/ac/68/d2ac68d3-ce23-0cb8-db46-06e6ec49d48a/mza_6506670073115263575.png"></a></div>
  <span>using maps as the main task of the picture, such as query, navigation, and so on.</span>
  </div>

  <div class="thumb">
  <h1>Notifications</h1>
  <div class="thumb_img"><a onclick="$('#search').val('Notifications Screen'); $('#search_form').submit();"><img src="http://a1933.phobos.apple.com/us/r1000/067/Purple/v4/1e/8b/c4/1e8bc46d-06bf-2a55-385a-c49a52e90352/mzl.lpokpyki.png"></a></div>
  <span>used to inform uses of irregular activities, in a full picture screen or popup window rendering.</span>
  </div>



</div>           

<!--footer-->
<div class="footer">Copyright © 2013 LV Studio All rights reserved.</div>

</body>
</html>