<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<title>App Search</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>

	<!-- Add fancyBox main JS and CSS files -->
	<script type="text/javascript" src="http://fancyapps.com/fancybox/source/jquery.fancybox.pack.js?v=2.1.3"></script>
	<link rel="stylesheet" type="text/css" href="http://fancyapps.com/fancybox/source/jquery.fancybox.css?v=2.1.3" media="screen" />
	
<script type="text/javascript" >
function copyToClipboard(text) {
  window.prompt ("Copy to clipboard: Ctrl+C, Enter", text);
}	
</script>
<style type="text/css">
<!--
hr {
	border:0; height:1px; background-color:#d4d4d4;
	color:#d4d4d4	/* IE6 */
}
.style1 {
	font-size: 24px;
	font-weight: bold;
}
.style18 {
	font-size: 18px;
	font-weight: bold;
}
.header {
	font-weight: bold;
}
.style2 {
	color: #3399FF;
	font-weight: bold;
}
-->
</style>
</head>
<body>
<div data-role="header" data-theme="b">
	<a href="/top" data-icon="home" rel="external">Home</a>
	<h1>App Search <%=File.mtime(__FILE__).strftime("%F %T")%></h1>
	<a data-icon="info" rel="external" target="_blank" href="http://www.apple.com/itunes/affiliates/resources/documentation/itunes-store-web-service-search-api.html#searchexamples">Help</a>
</div>

<div data-role="content">
	<%= yield  %>
</div>

<script src="jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
      $(function() {
          $("img.lazy").lazyload();
      });
      

$(document).ready(function() {
	$(".various").fancybox({
		maxWidth	: 700,
		maxHeight	: 800,
		fitToView	: true,
		width		: '70%',
		height		: '95%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none',
                arrows          : false
	});
});
</script>
</body>
</html>

