<!DOCTYPE html>
<html>
  <head>
    <title>mobile layout</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	  
	<script src="/jquery-1.8.3.min.js"></script>
	  
	<!-- Add fancyBox main JS and CSS files -->
	<script type="text/javascript" src="fancybox/jquery.fancybox.pack.js?v=2.1.3"></script>
	<link rel="stylesheet" type="text/css" href="fancybox/jquery.fancybox.css?v=2.1.3" media="screen" />
	  
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
	
    
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Tooltip 
    <link href="tooltip/jquery.tooltip.css" rel="stylesheet" media="screen">
    <script src="tooltip/jquery.tooltip.pack.js"></script>
    -->
  <style type="text/css">

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.style2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #BFBFBF;
	font-weight: bold;
}
.style3 {font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 14px; color: #BFBFBF; font-weight: bold; }

.fancybox-skin {
  padding: 0;
}

div#ap_main {
	padding-right: 0px; 
	padding-left: 0px;
}
header{
	/*box-shadow: 0px 1px 8px #666;*/
	/*
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 0.2em;
	*/
	box-shadow: 0px 2px 3px #DDD;
	height: 80px;
}

#search {
	border-color: #DFDFDF;
	margin-top: 24px;
	padding: 0px; 
	width: 465px; 
	/* box-shadow: 0px 1px 1px #B5B5B5 inset; */
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgb(95,95,95);
	
	padding-left: 15px;
	padding-top: 0px;

	height: 32px;
	width: 512px;
	border-radius: 32px;

/*	background-image: url(searchbutton.png);
	background-repeat: no-repeat;
	background-position: right;*/
}

#search_image{
	cursor: pointer;
	z-index: 999;
	width: 32px;
	height: 32px;
	/*background: url(searchbutton.png) no-repeat scroll 0 0 transparent;*/
	position: relative;
	top: 1px;
	right: 34px;
}

#search:focus {
	border-color: rgb(255,95,0);
}

#search_button {
	display: none;
	background: url(searchbutton.png) no-repeat scroll 0 0 transparent;
	margin-top: 24px;
	margin-left: -5px; /* fix safari */
	padding: 0; 
	width: 100px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: rgb(102,102,102);
	
	height: 23px;
}

#logo {
	width:90px;
	height:80px;
	margin-top: 0px;
	margin-left: 0px;
}

#options_bar {
	/*background-color: #F2F2F2;
	border-bottom-style: ridge; 
	border-bottom-color: white; 
	border-bottom-width: 0.2em;*/
	background-color: white;

	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 0.2em; 
	padding: 0;
}

ul#feature_bar {
	/*background-color: #F2F2F2;
	background-color: white;
	box-shadow: 0px 2px 3px #DDD; */
	background-image: url(shadow.png);
	background-repeat: repeat-x;
	background-color: #6C7380;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 10px 4px;
}

ul#feature_bar li {
	margin-left: 20px;
}

ul#feature_bar img {
	width:48px;
	height:48px;
	cursor: pointer;
	/*border-radius: 12px;
	box-shadow: 0px 1px 2px #999;*/
}


[data-notifications] {
	position: relative;
}

/*
[data-notifications]:after {
	content: attr(data-notifications);
	position: absolute;
	background: #747474;
	border-radius: 50%;
	display: inline-block;
	padding: 0.3em;
	color: #f2f2f2;
	right: -15px;
	top: -15px;
	
}
*/

[data-notifications]:after {
	display: none;
	content: attr(data-notifications);
	position: absolute;
    background:             radial-gradient( 1px -11px, circle,  #747474 26px );
	background:    -moz-radial-gradient( 1px -11px, circle,  #747474 26px );
	background:     -ms-radial-gradient( 1px -11px, circle,  #747474 26px );
	background:      -o-radial-gradient( 1px -11px, circle,  #747474 26px );
	background: -webkit-radial-gradient( 1px -11px, circle,  #747474 26px );
	background-color:  #747474;
	border-radius: 12px;
	color: white;
	font: 12px/8px Arial, Sans-serif;
    height: 12px;
    padding: 6px 6px 3px 6px;
    text-align: center;
    min-width: 8px;
	right: -10px;
	top: -20px;
}
[data-notifications="0"]:after {
  visibility: hidden;
}

div#message_bar {
	/*background-color: #3F3F3F; 
	color: #BFBFBF; */
	background-image: url(shadow.png);
	background-repeat: repeat-x;
	background-color: rgb(76,85,102);
	color: rgb(191,191,191);
	text-align: left; 
	/*margin-top: -20px;*/
	padding-top: 15px;
	padding-left: 24px;
	height: 33px; /* 48 */
	font-size: 14px;
	
	/* box-shadow: 0px 2px 3px #DDD; */
	/*
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 0.2em;
	
	border-top-style: solid;
	border-top-color: whitesmoke;
	border-top-width: 0.2em; 
	
	border-bottom-style: ridge; 
	border-bottom-color: #505050; 
	border-bottom-width: 0.2em; 
	box-shadow: 0px 2px 5px black inset;
	*/
}
.over_mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: auto;
}
.over_info {
	display: none;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -160px;
	bottom: 0;
	width: 100%;
	/*background: rgba(255, 255, 255, 0.8);*/
	/*background: rgb(255, 255, 255);*/
	text-align: left;
	overflow: auto;
	color: black;
	cursor: pointer;
	background-image: url(screenover.png);
	background-repeat: no-repeat;
	/*background-color: rgba(0, 0, 0, 0.5);*/
}
.thumb:hover .over_info {
    display: block;
}
.thumb:hover .over_mask {
    display: block;
}

.app_artwork {
	position: absolute;
	left: 50%;
	top: 50%;
	overflow: auto;
}

.corner {
	border-radius: 12px;
}

.dis_overlay {
	display: none;
	position: absolute;
	left: 0;
	top: -15px;
	bottom: 0;
	width: 100%;
	height: 48px;
	background: rgba(255, 255, 255, 0.8);
	text-align: left;
	overflow: auto;
	color: black;
	border-radius: 12px;
}
/*
[data-notifications="0"] span.dis_overlay {
    display: block;
}
*/
div#photo_wall {
	background-image: url(shadow.png);
	background-repeat: repeat-x;
	background-color: rgb(48, 53, 64); 
	height:100%;
	padding-top: 10px;
	padding-left: 8px;
	padding-bottom: 50px;
}

div.thumb {
	width:320px;
	height:480px;
	margin: 10px;
	position: relative;
	float: left; 
	min-height: 1px;
	box-shadow: 0px 2px 8px #21242C;
}

div.thumb > img {
	width:320px;
	height:480px;
}


span.app_info {
	top: 110px; 
	position: absolute;
	/*background-image: url(screenover.png);*/
}

span.app_info img {
	border-radius: 18px;
	width: 96px;
	height: 96px;
	/*box-shadow: 0px 2px 3px black;*/

	position: absolute;
	left: 50%;
	top: 50%;
	overflow: auto;
	margin-left: 92px;
	margin-top: -30px;
}

span.app_info p.trackName {
	position: absolute;
	color: white;
	width: 280px;
	text-align: center;
	margin-top: 87px;
	font-size: 20px;

/*	left: 50%;
	top: 50%;
	overflow: auto;*/
}

span.app_info p.sellerName {
	position: absolute;
	color: white;
	width: 280px;
	text-align: center;
	margin-top: 107px;
	font-size: 14px;
	color: rgb(127,127,127);

/*	left: 50%;
	top: 50%;
	overflow: auto;*/
}

select.bb {
    height: auto;
    line-height: 14px;
    border: 0;
	
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    width: auto;
	
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 12px;
	color: #333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	/*background-color: #F2F2F2;*/
	background-repeat: repeat-x;
	margin-left: 10px; 
	color: #666;
	font-weight: bold;
}

select.bb > option {
	font-weight: bold;
}

select.bb + .caret {
    margin-left: -10px;
    margin-top: 9px;
	position: relative;
}

.app_name {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: rgb(51,51,51);
}

.app_inc {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: rgb(102,102,102);
}

.app_etc {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
	color: rgb(51,51,51);
}

.row-fluid .myoffset {
  margin-left: 4.51063829787234%;
  *margin-left: 4.404255319148938%;
}

.fancybox-iframe {
	border-radius: 8px;
}
.fancybox-close {
	display: none;
}

#search:-moz-placeholder{
  color: rgb(191, 191, 191);
}
#search:-ms-input-placeholder{
  color: rgb(191, 191, 191);
}
#search::-webkit-input-placeholder{
  color: rgb(191, 191, 191);
}
  </style>
	
  </head>
  <body>
  
  <%= yield %>

  <script src="jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
      $(function() {
          $("img.lazy").lazyload({effect : "fadeIn"});
      });

function goSearch(qry){
	$("#search").val(qry);
	$("#search_button").trigger('click');
}

var stamp;

$(document).ready(function() {
	$(window).scroll(function(event){
        if (($(window).innerHeight() + $(window).scrollTop()) >= $("body").height()) {
        	// end
        	event.preventDefault();
        	event.stopPropagation();
        	
        	$.ajax({
        	  url: '/rest',
        	  type: 'GET',
        	  dataType: 'html',
        	  // data: {param1: 'value1'},
        	  complete: function(xhr, textStatus) {
        	    //called when complete
        	  },
        	  success: function(data, textStatus, xhr) {
        	    //called when successful
        	    // debugger;
        	    if(stamp != xhr.getResponseHeader("timestamp") ) {
        	    	stamp = xhr.getResponseHeader("timestamp");
        	    	$('#photo_wall').append(data);
        		}
        	  },
        	  error: function(xhr, textStatus, errorThrown) {
        	    //called when there is an error
        	  }
        	});
        	
        }
    });

    $("#search_button").click( function() {
        if( $("#search").val()=="")
		{
		  return false;
		}
		else
		{
		  return true;
		}
    });

  $("#search_image").click( function() {
        if( $("#search").val()=="")
		{
		  return false;
		}
		else
		{
		  $("#search_form").submit();
		}
    });
  
	$('#photo_wall').bind('scroll', function()
                              {
                                if($(this).scrollTop() + $(this).innerHeight()>=$(this)[0].scrollHeight)
                                {
                                  // alert('end reached');
                                }
                              });
  
  
	$(".get_features").click(function() {
	  var img = $(this);
	  var f_name = img.attr("alt");
	  
	  // 如果 Feature icon 為 取消狀態 或是 選擇狀態 則 不給按
	  if( img.attr("src")==img.attr("disable_src") ||
		  img.attr("src")==img.attr("select_src")
	   )
	  {
	    return false;
	  }

	  /*
	  var re = new RegExp(",*\\s*"+f_name, "ig");
	  if( $('#f_search').val().match(f_name) ) {
	    //alert("match");
	   
	    $('#f_search').val( $('#f_search').val().replace(re, "") );
	    $(this).attr("src", $(this).attr("org_src"));
	    
	  } else {
	    //alert("nomatch");
	    var delim = ', ';
	     if( $('#f_search').val().trim()=="" ) {
	      delim = '';
	     }
	    $('#f_search').val($('#f_search').val()+ delim + f_name)
	    $(this).attr("src", $(this).attr("select_src"));
	  }

	  var ree = new RegExp("^,*\\s*", "ig");
	  $('#f_search').val( $('#f_search').val().replace(ree, "") );
	  */


	  // for 新的搜尋
	  $('#search').val( $('#search').val() + ', ' + f_name );

	  // Feature icon 點選送出
	  timeout = setTimeout(function() {
	      $("#search_button").trigger('click');
	      timeout = null;
	  }, 500);
	  
	});

	$("span[data-notifications=0] img").each(function(){
	  $(this).attr("src", $(this).attr("disable_src"));
	});
	
	// 如果搜尋關鍵字 有 出現 Feature Name 則 顯示為打勾
	var search_arr = $('#search').val().toLowerCase().split(/,\s*/);
	for (var i = 0; i < search_arr.length; i++) {
	  var img = $(".get_features[alt_down='"+search_arr[i]+"']")
	   img.attr("src", img.attr("select_src"));
	}
	
	// tool tip
	/*
	$('#feature_bar img').tooltip({
	  track: true, 
	  delay: 0,
	  bodyHandler: function() {
		return $($(this).attr("title")).html();
	});
*/
	
	$(".various").fancybox({

		//fitToView	: true,
		width     : 800,
		height    : 600,
		minWidth  : 960,
		minHeight : 640,
		maxWidth  : 9999,
		maxHeight : 9999,
		aspectRatio : false,
		autoSize	: false,
		autoResize  : false,
		autoCenter  : false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none',
        arrows          : false,
		padding         : 0
	});

    // 自動長高畫面底色
    if ($('#photo_wall').height() < window.innerHeight) {
    	$('#photo_wall').height(window.innerHeight);
    }
    
});

</script>

  </body>
</html>
