<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<head>
<meta charset="utf-8">
<title>mobile layout</title>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="mobile layout" />
    <meta name="keywords" content="mobile layout" />
    <meta name="robots" content="all" />
    <meta property="og:title" content="mobile layout" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://ec2-184-169-142-206.us-west-1.compute.amazonaws.com:11211/" />
    <meta property="og:site_name" content="mobile layout" />
    <meta property="fb:app_id" content="mobile layout" />
    <meta property="og:description" content="" />
    <meta name="viewport" content="width=1200" />
	<meta name="Copyright" content="Copyright © 2013 LV Studio All rights reserved.">
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 7]>
<script defer type="text/javascript" src="js/pngfix.js"></script>
<![endif]-->
<link rel="shortcut icon" href="img/favicon.ico">
<link href="css/reset.css" rel="stylesheet" media="screen"> 
<link href="css/style2.css" rel="stylesheet" media="screen"> 
<link href="css/mobilstyle2.css" rel="stylesheet" media="screen">
<link href="css/nyroModal.css" rel="stylesheet" media="screen">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<script type="text/javascript" src="js/jquery-1.js"></script>
<script type="text/javascript" src="js/jquery_002.js"></script>
<script type="text/javascript">
	$(function() {

		$('.nyroModal').nyroModal({
			callbacks: {
				afterShowCont: function(nm) {
					$('.resizeLink', nm.elts.cont).click(function(e) {
						e.preventDefault();
						nm.sizes.initW = Math.random()*1000+200;
						nm.sizes.initH = Math.random()*1000+200;
						nm.resize();
					});
				}
			}
		});
		
		var validForm = $('#myValidForm').submit(function(e) {
			e.preventDefault();
			if (validForm.find(':text').val() != '') {
				validForm.nyroModal().nmCall();
			} else {
				alert("Enter a value before going to " + validForm.attr("action"));
			}
		});
		
		function preloadImg(image) {
		var img = new Image();
		img.src = image;
		}
		preloadImg('img/ajaxLoader.gif');
		preloadImg('img/prev.gif');
		preloadImg('img/next.gif');
	});
	</script>

<script type="text/javascript" charset="utf-8">

function goSearch(qry){
	$("#search").val(qry);
	$("#search_button").trigger('click');
}

var stamp;

$(document).ready(function() {
	$(window).scroll(function(event){
        if (($(window).innerHeight() + $(window).scrollTop()) >= $("body").height()) {
        	// end
        	event.preventDefault();
        	event.stopPropagation();
        	
        	$.ajax({
        	  url: '/rest',
        	  type: 'GET',
        	  dataType: 'html',
        	  // data: {param1: 'value1'},
        	  complete: function(xhr, textStatus) {
        	    //called when complete
        	  },
        	  success: function(data, textStatus, xhr) {
        	    //called when successful
        	    // debugger;
        	    if(stamp != xhr.getResponseHeader("timestamp") ) {
        	    	stamp = xhr.getResponseHeader("timestamp");
        	    	$('#photo_wall').append(data);
        		}
        	  },
        	  error: function(xhr, textStatus, errorThrown) {
        	    //called when there is an error
        	  }
        	});
        	
        }
    });

    $("#search_button").click( function() {
        if( $("#search").val()=="")
		{
		  return false;
		}
		else
		{
		  return true;
		}
    });

  $("#search_image").click( function() {
        if( $("#search").val()=="")
		{
		  return false;
		}
		else
		{
		  $("#search_form").submit();
		}
    });
  
	$('#photo_wall').bind('scroll', function()
                              {
                                if($(this).scrollTop() + $(this).innerHeight()>=$(this)[0].scrollHeight)
                                {
                                  // alert('end reached');
                                }
                              });
  
  
	$(".get_features").click(function() {
	  var img = $(this);
	  var f_name = img.attr("alt");
	  
	  // 如果 Feature icon 為 取消狀態 或是 選擇狀態 則 不給按
	  if( img.attr("src")==img.attr("disable_src") ||
		  img.attr("src")==img.attr("select_src")
	   )
	  {
	    return false;
	  }

	  /*
	  var re = new RegExp(",*\\s*"+f_name, "ig");
	  if( $('#f_search').val().match(f_name) ) {
	    //alert("match");
	   
	    $('#f_search').val( $('#f_search').val().replace(re, "") );
	    $(this).attr("src", $(this).attr("org_src"));
	    
	  } else {
	    //alert("nomatch");
	    var delim = ', ';
	     if( $('#f_search').val().trim()=="" ) {
	      delim = '';
	     }
	    $('#f_search').val($('#f_search').val()+ delim + f_name)
	    $(this).attr("src", $(this).attr("select_src"));
	  }

	  var ree = new RegExp("^,*\\s*", "ig");
	  $('#f_search').val( $('#f_search').val().replace(ree, "") );
	  */


	  // for 新的搜尋
	  $('#search').val( $('#search').val() + ', ' + f_name );

	  // Feature icon 點選送出
	  timeout = setTimeout(function() {
	      $("#search_button").trigger('click');
	      timeout = null;
	  }, 500);
	  
	});

	$("span[data-notifications=0] img").each(function(){
	  $(this).attr("src", $(this).attr("disable_src"));
	});
	
	// 如果搜尋關鍵字 有 出現 Feature Name 則 顯示為打勾
	var search_arr = $('#search').val().toLowerCase().split(/,\s*/);
	for (var i = 0; i < search_arr.length; i++) {
	  var img = $(".get_features[alt_down='"+search_arr[i]+"']")
	   img.attr("src", img.attr("select_src"));
	}
	
	// tool tip
	/*
	$('#feature_bar img').tooltip({
	  track: true, 
	  delay: 0,
	  bodyHandler: function() {
		return $($(this).attr("title")).html();
	});
*/


    // 自動長高畫面底色
    if ($('#photo_wall').height() < window.innerHeight) {
    	$('#photo_wall').height(window.innerHeight);
    }
    
});

</script>
</head>
<body>
<div class="container-fluid" id="ap_main">
	<header>
    
		<div class="input-append">
			<form action="/" method="post" style="margin:0;" name="search_form" id="search_form">
			<input id="search" name="search" placeholder="Search" value="<%= @search %>" type="text">
			<img src="img/searchbutton.png" name="search_image" id="search_image" title="search">
			  <button class="btn" id="search_button" type="submit">Search</button>
					<input id="f_search" name="f_search" value="" type="hidden">
			</form>
		</div>
	
	</header>
		<div id="message_bar" style="vertical-align: middle; ">
			<span>Results:</span> <span><%= @sc_count %> Screenshots</span>
		</div>

  <div id="photo_wall">
			<!-- -- photo_wall star -->
			<% @screenshots.each_with_index do |s, i| %>

           <a href="/uxinfo/<%= s.id %>" target="_blank" class="nyroModal"><div class="thumb"> 
             <img src="<%= s.url %>">
            <span class="over_mask"></span>
            </div></a>
            
            <% end %>

    </div><!-- photo_wall end -->
  </div>

</body>
</html>
