<div class="container-fluid" id="ap_main" >
	<header>
	
		<div class="input-append" style="padding-left: 0px; margin-bottom: 3px;">
			<form action="/" method="post" style="margin:0;" name="search_form" id="search_form">
				<a href="/" ><img src="/logo_m.png" id="logo" alt="imterface" /></a>
				<span style="padding-left: 0px;">
				  
					<input class="span2" id="search" name="search" type="text" placeholder="Coach Marks, Gallery, Maps, Flipboard, LinkedIn…" value="<%= @search %>" >
					<img src="searchbutton.png" id="search_image" title="search">
					<button class="btn" id="search_button" type="submit" >Search</button>
				  
					<input type="hidden" id="f_search" name="f_search" value="" >
				</span>
				
			</form>
		</div>
	
	</header>
	
	
	
		<div id="message_bar" style="vertical-align: middle; <%= @sc_count==0?"display: none;":"" %>">
			<span>Results:</span> <span><%= @sc_count %> Screenshots</span>
		</div>

	
	<div class="row-fluid" id="photo_wall" style="position: relative;float: left; min-height: 1px;">
		<!-- <div class="row" style="margin-left: 0px;"> -->
		
		<!-- 判斷有無資料 -->
		<% if @screenshots.size <= 0  %>

<!-- 無資料 -->
<table width="512" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="128">&nbsp;</td>
  </tr>
  <tr>
    <td width="256" height="256" align="center" valign="middle"><img src="./images/face.png" alt=":(" width="256" height="256" /></td>
  </tr>
  <tr>
    <td height="128" align="left" valign="top"><p align="center" class="style2">Sorry, your search had no results...</p>
      <p class="style3">We believe that is only temporary, because imterface database still continue to grow, it is recommended that you use other keywords to search again.</p>    </td>
  </tr>
</table>

		<% else %>

			<!-- 圖牆 頁面 -->
			<% @screenshots.each_with_index do |screenshot, i| %>
			<%  break if  i ==20 %>
			  <div class="thumb span3 myoffset" style="width: 320px; margin-top: 54px;">
				<img class="lazy" data-original="<%= screenshot.url %>" src="grey.gif" style="width: 320px; min-width: 320px; " />
				<span class="over_mask"></span>
				<span class="over_info various fancybox fancybox.iframe" rel="external" data-ajax="false" data-fancybox-type="iframe" href="/uxinfo/<%= screenshot.id %>" >
					<div class="container-fluid" >
						<span class="app_info"> <% app = screenshot.app %>
							<%
								trackName = app.trackName
								if app.trackName.length > 20
									trackName = app.trackName[0,20] + "..."
								end
							%>
							<img src="<%= app.artworkUrl512 %>" id="app_artwork" />
							<p class="trackName"><%= trackName %></p>
							<p class="sellerName"><%= app.sellerName %></p>
							<!-- <span class="app_inc"><%= app.sellerName %></span></p>
							<p class="app_etc"><%= app.primaryGenreName %> <br />Version <%= app.version %></p> -->
						</span>
					</div>
				</span>
			  </div>
			<% end %>

		<% end %>


	</div>



</div>

