﻿<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	
    <script src="/jquery-1.8.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	
  <style type="text/css">
.left {
	background-color: rgb(206,210,217);
	padding-top: 24px;
	text-align: center;

}

.right {
	
	padding: 24px;
	padding-top: 64px;
	text-align: left;
}

#itunes_button {
	width: 170px;
}

span.app_info {
	top: 24; 
	position: absolute;
	padding-bottom: 40px;
}

span.app_info img {
	
}

span.app_info img.app_icon {
	border-radius: 23px;
	width: 128px;
	height: 128px;
	box-shadow: 0px 1px 4px rgb(191,191,191);
}

span.app_info img.app_feature {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

span.app_info img.sc {
	width: 64px; 
	height: 96px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.app_name {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	/*font-weight: bold;*/
	font-size: 24px;
	color: rgb(63,63,63);
}

.app_inc {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	/*font-weight: bold;*/
	font-size: 18px;
	color: rgb(127,127,127);
}

.app_etc {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	color: rgb(51,51,51);
}

body {
	/*background-color: black;*/
}

#fadeout_top {
	position: fixed;
	right: -15px;
	z-index: 1;
}
#fadeout_bottom {
	position: fixed;
	right: -15px;
	bottom: 0;
	z-index: 1;
}

/*p.link-button {
  background-image: url(/bluebutton_c.png), url(/bluebutton_r.png), url(/bluebutton_l.png);
  background-position: center, right, left;
  background-repeat: repeat-x, no-repeat, no-repeat;
}*/

.left_btn{
    background-image: url("/bluebutton_l.png");
}

.middle_btn{
    background-image: url("/bluebutton_c.png");
    width:auto;
    /*line-height:100px;*/
}

.right_btn{
    background-image: url("/bluebutton_r.png");

}

.my_btn{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	color: #333;
	
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #BBB;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);

	border-radius: 3px;
}
a.my_btn:hover{
	text-decoration: none;
	color: #333;
}

  </style>
	
  </head>
  <body>
<img id="fadeout_top" src="/fadeout_top.png">
<img id="fadeout_bottom" src="/fadeout_bottom.png">
<div class="container-fluid" style="padding: 0;">
      <div class="row-fluid">
        <div class="span6 left" style="width: 640px; height: 640px; position:fixed;">
			<img src="<%= @screenshot.url %>" style="width: 320px;box-shadow: 0px 2px 8px #21242C; margin-top: 50px;" />
		</div>
        <div class="span4 right" style="width:344px; float:right;">
			<div class="container-fluid" style="padding-left: 48px;">
				<span class="app_info">
						<p><img class="app_icon" src="<%= app.artworkUrl512 %>" /></p>
						<p><span class="app_name"><%= @app.trackName %></span> <br /><span class="app_inc"><%= @app.sellerName %></span></p>
						<p class="app_etc">
							Category: <%= @app.primaryGenreName %> <br />
							Version: <%= @screenshot.version %><br />
							Rated: <%= @app.averageUserRating %><br />
							<% rating = @app.averageUserRating.to_i %>
							<% 1.upto(rating) do |i| %>
							  <i class="icon-star" ></i>
							<% end %>
							<% (rating+1).upto(5) do |i| %>
							  <i class="icon-star-empty" ></i>
							<% end %>
							<%= @app.userRatingCount.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></p>
						
						<p><a class="my_btn" id="itunes_button" href="<%= @app.trackViewUrl %>" target="_blank" >View in iTunes</a></p>
						
		

						<hr />
						
						<!-- 列出該 Screenshot Features -->
						<p class="app_inc">Feature </p>
						<% @screenshot.features.each do |feature| %>
						  <% next if feature.purge==true || feature.visiable==false %>

						  <p onclick="parent.goSearch('<%= feature.name %>');" style="cursor: pointer;" title="<%= feature.name %>" class="app_etc">
						  	<img src="/f/<%= feature.id %>.png" class="app_feature" title="<%= feature.name %>" />
						  	<%= feature.name %> 
						  </p>
						<% end %>
						
						<hr />
						
						<p class="app_inc">Relate Screenshot</p>
						<div class="row-fluid">
						  <% @app.screenshots.each_with_index do |screenshot,i|
						      # break if i==4
						      next if @screenshot.id==screenshot.id
						  %>
						      <a href="/uxinfo/<%= screenshot.id %>"><img data-original="<%= screenshot.url %>" src="/grey.gif" class="lazy sc" /></a>
						  <% end  %>
						</div>
				</span>
			</div>
		</div>
	  </div>
</div>

  <script src="/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
      $(function() {
          $("img.lazy").lazyload({effect : "fadeIn"});
      });
</script>

  </body>
</html>