<html>
<head>
<title>mobile layout info</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/reset.css" rel="stylesheet" media="screen">
<link href="/css/iframe.css" rel="stylesheet" media="screen">
</head>
<div class="container-fluid">

     <div class="left">
     <div class="row-fluid"><img src="<%= @screenshot.url %>" /></div>
     </div>
     
        <div class="right">
        <div id="fadeout_top"></div>
				<div class="app_info">
				<p class="app_icon"><img src="<%= app.artworkUrl512 %>" /></p>
				<p class="app_name"><%= @app.trackName %></p>
                <p class="app_inc"><%= @app.sellerName %></p>
				<div class="app_etc">
                <ul>
				<li>Category: <%= @app.primaryGenreName %> </li>
				<li>Version: <%= @screenshot.version %></li>
				<li>Rated:
                      <ul class="star">
						<% rating = @app.averageUserRating.to_i %>
						<% 1.upto(rating) do |i| %>
						  <li class="icon-star" ></li>
						<% end %>
						<% (rating+1).upto(5) do |i| %>
						  <li class="icon-star-empty" ></li>
						<% end %>
                       </ul>
                 </li>
                </ul>
			<p  class="my_btn"><a href="<%= @app.trackViewUrl %>" target="_blank" id="itunes_button">View in iTunes</a></p>
            <div id="fadeout_bottom"></div>
			 </div>
             
            <hr />			

						
				<p class="app_inc">Relate Screenshot</p>
						<div class="row-fluid">
						  <% @app.screenshots.each_with_index do |screenshot,i|
						      next if @screenshot.id==screenshot.id
						  %>
						  	<a class="sc" href="/uxinfo/<%= screenshot.id %>"><img src="<%= screenshot.url %>"  /></a>
						      
						  <% end  %>
						</div>
				</div>
                
                </div>
            
</div>

  </body>
</html>